.section-4 {
    position: relative;
    margin-top: 165px;
    display: flex;
    justify-content: center;
}
.section-4__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 328px;
}
.section-4:before {
    content: "";
    position: absolute;
    height: 1px;
    top: 0;
    right: 0px;
    width: 1400px;
    background-color: rgb(185, 185, 185);
}
.content__title_align-center, .content__text_align-center {
    text-align: center;
}
.content_margin {
    position: relative;
    top: -23px;
}
.section-4__content:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -600px;
    height: 1px;
    width: 400px;
    background-color: rgb(185, 185, 185);
}
.elements__button {
    display: flex;
    justify-content: center;
}
.elements-button {
    transition: 0.2s;
}
.elements-button:hover {
    background-color: rgb(110, 110, 110);
    transition: 0.2s;
}
.button__icon {
    margin-right: 9px;
}
.content__text_size {
    position: relative;
    top: -5px;
    font-size: 30px;
}
.elements_margin {
    position: relative;
    top: -14px;
}
.button-2 {
    border-radius: 35px;
    text-align: center;
    padding: 21px 1px;
    margin:0 12.5px 0 30px;
    width: 166px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.4px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#35bbe0+0,5e7bea+100 */
background: rgb(53,187,224); /* Old browsers */
background: -moz-linear-gradient(left, rgba(53,187,224,1) 0%, rgba(94,123,234,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(53,187,224,1) 0%,rgba(94,123,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(53,187,224,1) 0%,rgba(94,123,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35bbe0', endColorstr='#5e7bea',GradientType=1 ); /* IE6-9 */
    z-index: 1;
    -webkit-box-shadow: 0px 17px 43px -12px rgba(66, 126, 245, 1);
    -moz-box-shadow: 0px 17px 43px -12px rgba(66, 126, 245, 1);
    box-shadow: 0px 17px 43px -12px rgba(66, 126, 245, 1);
    transition: 0.2s;
}
.button-2:hover {
    transition: 0.2s;
    background: rgb(94,123,234); /* Old browsers */
background: -moz-linear-gradient(left, rgba(94,123,234,1) 0%, rgba(53,187,224,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(94,123,234,1) 0%,rgba(53,187,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(94,123,234,1) 0%,rgba(53,187,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35bbe0', endColorstr='#5e7bea',GradientType=1 ); /* IE6-9 */
}
@media screen and (max-width: 682px) {
    .content__title {
        font-size: 28px;
    }
    .content__text {
        font-size: 24px;
    }
    .button-2 {
        margin-top: 25px;
    }
}
@media screen and (max-width: 1800px) {
    .section-4__content:before {
        display: none;
    }
}
@media screen and (max-width: 648px) {
.section-4 {
    margin-top: 30px;
}

}